<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet"
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet"
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <title>Dr. Manuel Vallejo's Educational Website</title>
</head>
<body>
  <div class="container">

    <!-- navbar -->
    <div class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Dr. Vallejo's Educational Website</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="<%= 'active' if params[:controller] == 'welcome' %>">
                <a href="<%= root_path %>">Home</a></li>
              <li class="<%= 'active' if params[:controller] == 'documents' %>">
                <a href="<%= documents_path %>">Documents</a></li>
              <li class="<%= 'active' if params[:controller] == 'videos' %>">
              <a href="<% videos_path %>" class="dropdown-toggle"
                data-toggle="dropdown">Videos<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Title 1</a></li>
                  <li><a href="#">Title 2</a></li>
                  <li><a href="#">Title 3</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Epidural Instructional Videos</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>

      <!-- page content -->
      <%= yield %>

  </div> <!-- /container -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
