<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet"
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet"
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= analytics_init if Rails.env.production? %>
  <%= csrf_meta_tags %>

  <title>Dr. Manuel Vallejo's Academic Website</title>
</head>
<body>
  <div class="container">

    <!-- navbar -->
    <div class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<%= root_path %>">Dr. Vallejo's Academic Website</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="<%= 'active' if params[:controller] == 'welcome' %>">
                <a href="<%= root_path %>">Welcome</a></li>
              <li class="<%= 'active' if params[:controller] == 'documents' %>">
                <a href="<%= documents_path %>">Documents</a></li>
              <li class="<%= 'active' if params[:controller] == 'videos' %>">
                <a href="<%= videos_path %>">Videos</a></li>
              <li class="<%= 'active' if params[:controller] == 'presentations' %>">
                <a href="<%= presentations_path %>">Presentations</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>

      <!-- page content -->
      <%= yield %>

  </div> <!-- /container -->
</body>
<%= jquery_include_tag Rails.application.config.jquery_version %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</html>
